.body_fixed{
    overflow: hidden;
}

.header{
    height: 138.7px;
    /* padding: 44px 0 60px; */
}

.nav{
    padding: 44px 0 60px;
}

.menu{
    display: flex;
    justify-content: center; 
    column-gap: 46px;
      
}

.menu__item{
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em; 
    color: #FFFFFF;
    text-decoration: none;   
}

.menu__item:hover{
    color: #FFFFFF;
    opacity: 50%;
}

.burger-btn{
    display: none;
    z-index: 2000;
}

.burger__content{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 97px;
    transition: transform 0.3s linear;
    transform: translateY(-100%);
    background-color: #000000;
}

.burger-inner__content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.burger_open .burger__content{
    transform: translateY(0);
}

.burger-menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    margin-bottom: 50px;
}

.burger-menu__item{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.burger-social__menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 25px;
    margin-bottom: 83px;
}

.burger-social__menu-item{
    font-weight: 700;
    font-size: 35px;
    line-height: 26px;
    text-decoration: none;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}


@media (max-width: 1199px){

    .menu__item:hover{
        color: #FFFFFF;
        opacity: 100%;
    }
}


@media (max-width: 767px){

    .nav{
        padding: 28px 0 60px;
    }

    .header-menu{
        display: none;
    }

    .burger-btn {
        position: relative;
        display: block;
        width: 34.71px;
        height: 34.71px;
        background: none;
        border: none;
        margin: 0 auto;
        border-top: 5px solid #FF25C2;
        border-bottom: 5px solid #FF25C2;
    }

    
    .burger-btn::after {
        content: "";
        position: absolute;
        right: 0;
        top: 10px;
        height: 5px;
        width: 100%;
        background-color: #FF25C2;
    }

    
    .burger-btn_open::after {
        display: none;
    }

    .burger-btn_open{
        position: absolute;
        top: 28px;
        left: 46%;
        width: 34px;
        height: 34px;
        margin: 0 auto;
        background: url('../resources/cross.png');
        background-repeat: no-repeat;
        border: none;
    }

    
    
}