@import "./header.css";
@import "./presentation.css";
@import "./description.css";
@import "./footer.css";
@import "./banner.css";
@import "./aside-fone.css";
@import "./gallery.css";




body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.subtitle{
    font-weight: 700;
    font-size: 100px;
    line-height: 73.52%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FF25C2;
}

.subhead{
    font-weight: 700;
    font-size: 100px;
    line-height: 73.52%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}




@media (max-width: 1199px){

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        
    }

    body {
        /* background-color: aqua; */
    }

}




@media (max-width: 900px){

    .subhead{
        font-size: 90px;
    }
}



@media (max-width: 767px){

    .container {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        
    }

    body {
        /* background-color: red; */
    }

    .subtitle{
        font-size: 60px;
        line-height: 73.52%;
    }

    .subhead{
        font-size: 45px;
    }

}

@media (max-width: 400px){

    .subtitle{
        font-size: 50px;
        line-height: 72.52%;
    }
    
}

